{% extends 'base.html' %}
{% block contents %}
{% if request.session.user %}
<div class="row mt-2">
    <div class="col-12">
        <h1>Hello, {{user_id}}</h1>
    </div>
</div>
{% endif %}
<div class="row justify-content-around">
{% for post in post_list %}
  <div class="col-sm-5 mt-5">
    <a href="/post/{{post.id}}" class="my-link-unstyle">
        <div class="card border-primary">
            <img class="card-img-top img-responsive fit-image" src="{{ post.img_url}}" alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title font-weight-bold">{{ post.description }}</h5>
                <span class="card-text d-block">by 👤 {{ post.writer }}</span>
                <span class="card-text d-block mb-2">created: {{ post.registered_dttm }}</span>
            </div>
        </div>
    </a>
  </div>
{% endfor %}
</div>
<div class="row mt-5">
    <div class="col-12">
        <nav aria-label="Page navigation example">
            <ul class="pagination justify-content-center">
                {% if post_list.has_previous %}
                <li class="page-item">
                    <a class="btn btn-primary" href="?p={{post_list.previous_page_number}}">이전으로</a>
                </li>
                {% else %}
                <li class="page-item disabled">
                    <a class="btn btn-primary disabled" href="#">이전으로</a>
                </li>
                {% endif %}
                <li class="page-item"><span class="btn btn-outline-info disabled">{{post_list.number}}/{{post_list.paginator.num_pages}}</span></li>
            
                {% if post_list.has_next %}
                <li class="page-item">
                    <a class="btn btn-primary" href="?p={{post_list.next_page_number}}">다음으로</a>
                </li>
                {% else %}
                <li class="page-item disabled">
                    <a class="btn btn-primary disabled" href="#">다음으로</a>
                </li>
                {% endif %}
            </ul>
        </nav>
    </div>
</div>
{% endblock  %}