{% extends 'base.html' %}
{% block contents %}
{% if request.session.user %}
<div class="row mt-2">
    <div class="col-12">
        <h1>Hello, {{user_id}}</h1>
    </div>
</div>
{% endif %}
<div class="row mt-5">
    <div class="col-12">
        <table class="table table-light">
            <thead class="thead-light">
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">description</th>
                    <th scope="col">writer</th>
                    <th scope="col">등록날자</th>
                </tr>
            </thead>
            <tbody class="text-dark">
                {% for post in post_list %}
                <tr>
                    <th scope="row">{{ post.id }}</th>
                    <th scope="row">{{ post.description }}</th>
                    <th scope="row">{{ post.writer}}</th>
                    <th scope="row">{{ post.registered_dttm | date:'Y-m-d H:i' }}</th>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
<div class="row mt-3">
    <div class="col-12">
        <nav aria-label="Page navigation example">
            <ul class="pagination justify-content-center">
                {% if post_list.has_previous %}
                <li class="page-item">
                    <a class="btn btn-primary" href="?p={{post_list.previous_page_number}}">이전으로</a>
                </li>
                {% else %}
                <li class="page-item disabled">
                    <a class="btn btn-primary disabled" href="#">이전으로</a>
                </li>
                {% endif %}
                <li class="page-item"><span class="btn btn-outline-info disabled">{{post_list.number}}/{{post_list.paginator.num_pages}}</span></li>
            
                {% if post_list.has_next %}
                <li class="page-item">
                    <a class="btn btn-primary" href="?p={{post_list.next_page_number}}">다음으로</a>
                </li>
                {% else %}
                <li class="page-item disabled">
                    <a class="btn btn-primary disabled" href="#">다음으로</a>
                </li>
                {% endif %}
            </ul>
        </nav>
    </div>
</div>
{% endblock  %}